#countLabel{
    display:block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;

}
#btnContainer{
    text-align: center;
}
.buttons{
    padding: 10px 28px;
    font-size: 1.5em;
    color: black;
    background-color: rgb(2, 175, 60);
    border-radius: 5px;
    cursor: pointer;
   transition: background-color 0.25s;
}
.buttons:hover{
    background-color: rgb(14, 106, 34);
}